#mainQC {
    font-family: 'Staatliches', cursive
}



*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.grid {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: minmax(75px, auto);
    text-align: center;
}
.brand-logo img {
    width: 130px;
    padding: 20px 20px 20px 30px;
}
.search-media-input {
    grid-row: 1;
    grid-column: 4/14;
}

.recomendations-result-container {
    grid-row: 2;
    grid-column: 4/14;
    display: grid;
    font-size: 28px;
    color:  #b71c1c;
    text-decoration: none;
    font-weight: 600;
}
.main-search-result-continer {
    margin-top: 80px;
}
.custom-card {
    width: 200px;
    margin: 10px;
}
.card-content {
    padding-bottom: 20px;
}
.artist-image {
    max-height: 200px;
}
.header {
    font-weight: 800;
}
h1 {
    color: #b71c1c;
    text-align: center;
    font-weight: 600;
}
.bolder {
    font-weight: 600;
}
h4 {
    color: rgb(165, 42, 42);
    text-align: left;
    padding-bottom: 20px;
}
h5 {
    color: rgb(107, 101, 101);
    padding-bottom: 20px;
}
.modal-content img {
    width: 150px;
    border-style: solid;
    border-width: 1.5px;
    border-color: gray;
}
.modal-content p {
    text-align: left;
}
.off {
    display: none;
}
.errorStyle{
    font-size: 60px;
    color: rgb(190, 40, 40);
}
#userSearch{
    font-size: 20px;
    border: rgb(190, 40, 40) solid 4pt;
    padding: 10px;
    vertical-align: middle;
}
.card-action {
    overflow-y: auto;
    height: 105px;
    vertical-align: middle;
}
.modal-trigger {
    margin: 0;
}
thead {
    font-weight: 500;
}
input[type=search-media-input]:focus {
    outline: none;
  }
input[type=search-media-input] {
    margin-right: 10px;
}
.genre {
    color: #673ab7;
    font-weight: 600;
}
.song {
    font-weight: 600;
}
.card-text {
    display: flex;
    justify-content: center;
}
#artistDescription{
    height: 200px;
    overflow-x: auto;
    text-align: justify;
}

